# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [ "--fix", "--show-fixes" ]
        exclude: 'src/cutqc2/cutqc/.*'
      - id: ruff-format
        args: [ "--check" ]
        exclude: 'src/cutqc2/cutqc/.*'
